html, body {
  height: 100%;
    
}

.full-height {
  height: 100%;
}

@font-face {
  font-family: 'authentic';
  src: url('../fonts/AUTHENTICSans-90.otf');
  font-weight: 100;
    font-style: normal;
}


.image7 {
    display: block;
    left:12%;
    width: 80%;
    height: auto;
    position: absolute;
    margin-top: -50%;
    z-index: 4;
    transform: rotate(-150deg);
}

.image6 {
    display: block;
    left: 10%;
    
    width: 80%;
    height: auto;
    position: absolute;
    margin-top: -121%;
    z-index: 4;
    transform: rotate(150deg);
}

.image5 {
    display: block;
    margin-left: -10%;
    
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: -332%;
    z-index: 4;
    transform: rotate(0deg);
}
.image4 {
    display: block;
    left:-0%;
    
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: -195%;
    z-index: 4;
    transform: rotate(0deg);
}

.image3 {
    display: block;
    margin-left: auto;
    
    width: 100%;
    height: auto;
    position: inherit;
    margin-top: 15%;
    z-index: 2;
    transform: rotate(0deg);
}

.image2 {
    display: block;
    margin-left: auto;
    
    width: 100%;
    height: auto;
    position: inherit;
    margin-top: 15%;
    z-index: 2;
    transform: rotate(0deg);
}





.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    position: inherit;
    margin-top: 5%;
    z-index: 2;
    transform: rotate(0deg);
}

.image10 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    position: inherit;
    margin-top: 5%;
    z-index: 2;
    transform: rotate(0deg);
}



body {
    background-color: black
        
}



p {
    
    display: block;
    font-family: "authentic";
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 85%;
    margin-left: 18%;
    
    font-kerning: 200%;
    transform: rotate(0deg);
    color: blue;

    
    
}

p2 {
    
    display: block;
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 240%;
    margin-left: 13%;
    font-kerning: 200%;
    transform: rotate(15deg);
    color: blue;
    font-family: "authentic";
    

    
    
}

p7 {
    
    display: block;
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 297%;
    margin-left: 18%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: blue;
    font-family: "authentic";
    

    
    
}

p8 {
    
    display: block;
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 373%;
    margin-left: 18%;
    font-kerning: 200%;
    transform: rotate(15deg);
    color: blue;
    font-family: "authentic";
    

    
    
}

p1 {
    
    font-size: 16pt;
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left: 20px;
    letter-spacing: 0px;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
    

    
    
}

p4 {
    
    
    font-size: 12pt;
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-right: 50%;
    margin-left: 8.8%;
   
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
    
   
    

    
    
}

p3 {
    
    display: block;
    font-size: 12pt;
    z-index: 3;
    height: auto;
    position: absolute;
    margin-top: 59%;
    margin-left: 5%;
    margin-right: 50%;
    
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
    

    
    
}

p5 {
    
    display: block;
    font-size: 12pt;
    z-index: 3;
    height: auto;
    position: absolute;
    margin-top: 135%;
    margin-left: 5%;
    margin-right: 50%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
    

    
    
}

p6 {
    
    display: block;
    font-size: 12pt;
    z-index: 3;
    height: auto;
    position: absolute;
    margin-top: 420%;
    margin-left: 5%;
    margin-right: 5%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
    

    
    
}

p9 {
    
    display: block;
    font-size: 12pt;
    z-index: 3;
    height: auto;
    position: absolute;
    margin-top: -10%;
    margin-left: 90%;
    margin-right: 5%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
    
}
    
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}



