html, body {
  height: 100%;
    
}

.full-height {
  height: 100%;
}

.typo{
	font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}


.image7 {
    display: block;
    left:12%;
    width: 80%;
    height: auto;
    position: absolute;
    margin-top: -50%;
    z-index: 4;
    transform: rotate(-150deg);
}

.image6 {
    display: block;
    left: 10%;
    
    width: 80%;
    height: auto;
    position: absolute;
    margin-top: -121%;
    z-index: 4;
    transform: rotate(150deg);
}

.image5 {
    display: block;
    margin-left: -10%;
    
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: -332%;
    z-index: 4;
    transform: rotate(0deg);
}
.image4 {
    display: block;
    left:-0%;
    
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: -195%;
    z-index: 4;
    transform: rotate(0deg);
}

.image3 {
    display: block;
    margin-left: auto;
    
    width: 100%;
    height: auto;
    position: inherit;
    margin-top: 15%;
    z-index: 2;
    transform: rotate(0deg);
}

.image2 {
    display: block;
    margin-left: auto;
    
    width: 100%;
    height: auto;
    position: inherit;
    margin-top: 15%;
    z-index: 2;
    transform: rotate(0deg);
}





.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    position: inherit;
    margin-top: 5%;
    z-index: 2;
    transform: rotate(0deg);
}

.image10 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    position: inherit;
    margin-top: 5%;
    z-index: 2;
    transform: rotate(0deg);
}



body {
    background-color: black
        
}



p {
    
    display: block;
    font-family: "autenthic";
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 85%;
    margin-left: 18%;
    
    font-kerning: 200%;
    transform: rotate(0deg);
    color: blue;

    
    
}

p2 {
    
    display: block;
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 240%;
    margin-left: 13%;
    font-kerning: 200%;
    transform: rotate(15deg);
    color: blue;
    font-family: "autenthic";
    

    
    
}

p7 {
    
    display: block;
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 297%;
    margin-left: 18%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: blue;
    font-family: "autenthic";
    

    
    
}

p8 {
    
    display: block;
    font-size: 20pt;
    z-index: 1;
    height: auto;
    position: absolute;
    margin-top: 373%;
    margin-left: 18%;
    font-kerning: 200%;
    transform: rotate(15deg);
    color: blue;
    font-family: "autenthic";

}

p1 {
    
    font-size: 16pt;
      z-index: 1;
    position: absolute;
    margin-top: -10%;
    
	margin-left:80px;
	max-width:700px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
 
}



p4 {
    
    
    font-size: 11pt;
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left:80px;
	max-width:700px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
   
}

p3 {
    
    
    font-size: 11pt;
    z-index: 3;
    height: auto;
    position: absolute;
    margin-top: 59%;
    margin-left: 5%;
    max-width:700px;
    
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
   
}

p5 {
    
    
    font-size: 11pt;
   z-index: 1;
    position: absolute;
    margin-top: 135%;
    margin-left:80px;
	max-width:700px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
  
}

p6 {
    
    display: block;
    font-size: 11pt;
    z-index: 1;
    position: absolute;
    margin-top: 420%;
    margin-left:80px;
	max-width:700px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
       
}

p12 {
    
    display: block;
    font-size: 11pt;
    z-index: 1;
    position: absolute;
    margin-top: 418%;
    margin-left:80px;
	max-width:700px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
    
}
p9 {
    
   display: block;
    font-size: 11pt;
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left: 90%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
	max-width:700px;
	overflow-wrap: break-word;
    
}
 
@media (max-width: 900px) {
	p{
		font-size: 16pt;	
		
	}
	
	p1 {
		font-size: 12pt;
		
	}
	
	p2 {
		font-size: 16pt;
	}
	
	p3 {
		font-size: 8pt;
		
		 z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:500px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	
	p4 {
		font-size: 8pt;
	 z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left:80px;
	max-width:500px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p5 {
		font-size: 8pt;
		 z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:500px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p6 {
		font-size: 8pt;
		 z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:500px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p7 {
		font-size: 16pt;
	}
	
	p9 {
		font-size: 11pt;
		display: block;
    font-size: 11pt;
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left: 90%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
	max-width:500px;
	}
	
}

@media (max-width: 600px) {
	p{
		font-size: 16pt;	
		
	}
	
	p1 {
		font-size: 12pt;
		
	}
	
	p2 {
		font-size: 16pt;
	}
	
	p3 {
		font-size: 5pt;
			 z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p4 {
		font-size: 5pt;
		 z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	
	p5 {
		font-size: 5pt;
			 z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p6 {
		font-size: 5pt;
			 z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p7 {
		font-size: 16pt;
	}
	
	p9 {
		font-size: 11pt;
		display: block;
    font-size: 11pt;
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left: 90%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
	max-width:250px;
	}
	





@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
	p{
		font-size: 16pt;	
		
	}
	
	p1 {
		font-size: 12pt;
		
	}
	
	p2 {
		font-size: 16pt;
	}
	
	p3 {
		font-size: 5pt;
		z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p4 {
		font-size: 5pt;
		 z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	}
	
	p5 {
		font-size: 5pt;
		z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p6 {
		font-size: 5pt;
		z-index: 1;
    position: absolute;
    margin-left:80px;
	max-width:250px;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "autenthic";
	overflow-wrap: break-word;
	}
	
	p7 {
		font-size: 16pt;
	}
	
	p9 {
		font-size: 11pt;
		display: block;
    font-size: 11pt;
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-left: 90%;
    font-kerning: 200%;
    transform: rotate(0deg);
    color: white;
    font-family: "authentic";
	max-width:250px;
		 
	}
	}
	
	
	
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}



